[submodule "elisp/vendor/keychain-environment"]
	path = elisp/vendor/keychain-environment
	url = git://github.com/cofi/keychain-environment.el.git
[submodule "elisp/vendor/google-weather-el"]
	path = elisp/vendor/google-weather-el
	url = git://git.naquadah.org/google-weather-el.git
[submodule "elisp/vendor/mk-project"]
	path = elisp/vendor/mk-project
	url = git://github.com/mattkeller/mk-project.git
[submodule "elisp/vendor/pretty-mode"]
	path = elisp/vendor/pretty-mode
	url = git://github.com/cofi/pretty-mode.git
[submodule "elisp/vendor/pylookup"]
	path = elisp/vendor/pylookup
	url = git://github.com/tsgates/pylookup.git
[submodule "elisp/vendor/emacs-eclim"]
	path = elisp/vendor/emacs-eclim
	url = https://github.com/senny/emacs-eclim.git
[submodule "elisp/vendor/clojure-mode"]
	path = elisp/vendor/clojure-mode
	url = git://github.com/technomancy/clojure-mode.git
[submodule "elisp/vendor/calfw"]
	path = elisp/vendor/calfw
	url = git://github.com/kiwanami/emacs-calfw.git
[submodule "elisp/vendor/org-mode"]
	path = elisp/vendor/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "elisp/vendor/gnus"]
	path = elisp/vendor/gnus
	url = http://git.gnus.org/gnus.git
[submodule "elisp/vendor/evil"]
	path = elisp/vendor/evil
	url = git://gitorious.org/evil/evil.git
[submodule "elisp/vendor/ac-slime"]
	path = elisp/vendor/ac-slime
	url = git://github.com/purcell/ac-slime.git
[submodule "elisp/vendor/evil-surround"]
	path = elisp/vendor/evil-surround
	url = git://github.com/timcharper/evil-surround.git
[submodule "zsh/zsh-completions"]
	path = zsh/zsh-completions
	url = git://github.com/zsh-users/zsh-completions.git
[submodule "zsh/zsh-substring-search"]
	path = zsh/zsh-substring-search
	url = git://github.com/zsh-users/zsh-history-substring-search.git
[submodule "elisp/vendor/helm"]
	path = elisp/vendor/helm
	url = git://github.com/emacs-helm/helm.git
[submodule "elisp/vendor/helm-descbinds"]
	path = elisp/vendor/helm-descbinds
	url = git://github.com/emacs-helm/helm-descbinds.git
[submodule "elisp/vendor/helm-slime"]
	path = elisp/vendor/helm-slime
	url = git://github.com/emacs-helm/helm-slime.git
[submodule "elisp/vendor/monky"]
	path = elisp/vendor/monky
	url = git://github.com/ananthakumaran/monky.git
[submodule "elisp/vendor/smartparens"]
	path = elisp/vendor/smartparens
	url = git://github.com/Fuco1/smartparens.git
[submodule "elisp/vendor/emacs-jedi"]
	path = elisp/vendor/emacs-jedi
	url = git://github.com/tkf/emacs-jedi.git
[submodule "elisp/vendor/erc-image"]
	path = elisp/vendor/erc-image
	url = git://github.com/kidd/erc-image.el.git
[submodule "elisp/vendor/macrostep"]
	path = elisp/vendor/macrostep
	url = git://github.com/joddie/macrostep.git
