[submodule "elisp/vendor/magit"]
	path = elisp/vendor/magit
	url = git://github.com/philjackson/magit.git
[submodule "elisp/vendor/yasnippet"]
	path = elisp/vendor/yasnippet
	url = git://github.com/emacsmirror/yasnippet.git
[submodule "elisp/vendor/haskell-mode"]
	path = elisp/vendor/haskell-mode
	url = git://github.com/jwiegley/haskell-mode.git
[submodule "elisp/vendor/auto-complete"]
	path = elisp/vendor/auto-complete
	url = git://github.com/m2ym/auto-complete.git
[submodule "elisp/vendor/org-mode"]
	path = elisp/vendor/org-mode
	url = git://repo.or.cz/org-mode.git
