*.elc
*~
\#*\#
emacs.d/ac-comphist.dat
emacs.d/auto-save-list/
emacs.d/private.el
emacs.d/.emacs.desktop*
vim/vim/.netrwhist
emacs.d/url/
emacs.d/elpa/
emacs.d/custom.el
emacs.d/semanticdb
emacs.d/session.*
emacs.d/var/pcache/
emacs.d/newsticker/
