# -*- mode: snippet -*-
# contributor: Michael Markert <markert.michael@gmail.com>
# key: ename
# name: Fullname with email
# condition: 'force-in-comment
# --
`user-full-name` <`user-mail-address`>$0