# -*- mode: snippet -*-
# name : Definition
# key : def
# contributor : Michael Markert <markert.michael@gmail.com>
# condition: (or (not (string-match-p "^[ \t].*" (buffer-substring (point-at-bol) (point-at-eol))))
#                (not (cofi/snippet-in-code)))
# --
$1
    $0