# -*- coding: utf-8 mode: snippet -*-
#name : Document title
#key: ===
# condition: (or (eq major-mode 'rst-mode) (not (cofi/snippet-in-code)))
# --
${1:$(make-string (string-width text) ?\=)}
${1:title}
${1:$(make-string (string-width text) ?\=)}

$0