# -*- mode: snippet -*-
# contributor: Michael Markert <markert.michael@gmail.com>
# key: eql
# name: \begin{equation} ...\label{...} ...\end{equation}
# --
\begin{${1:$$(yas/choose-value '("equation" "gather" "align" "multline"))}${2:*}}
\label{${3:"waiting for reftex-label call..."$(unless yas/modified-p (reftex-label nil 'dont-insert))}}
$0
\end{$1$2}
