# -*- mode: snippet -*-
# contributor: Michael Markert <markert.michael@googlemail.com>
# name: (define-key ...)
# key: defkey
# --
(${1:$$(yas/choose-value '("define-key" "global-set-key" "local-set-key"))} (kbd "$2") '$3)$0